import type { PackManifest } from '@de-braighter/substrate-contracts';
import { PACK_ID } from '@de-braighter/{{DOMAIN}}-pack';

export const {{DOMAIN_PASCAL_UPPER}}_MANIFEST: PackManifest = {
  key: PACK_ID,
  roles: [],
  permissions: [],
  consentPurposes: [],
};
